---
import Layout from "@layouts/Layout.astro";
import Badge from "@components/Badge.astro";
import SocialBadge from "@components/SocialBadge.astro";
import Experience from "@components/Experience.astro";
import SectionContainer from "@components/SectionContainer.astro";
import Projects from "@components/Projects.astro";
import LinkedinIcon from "@icons/LinkedinIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import MailIcon from "@icons/MailIcon.astro";
import BriefCaseIcon from "@icons/BriefCase.astro";
import CodeIcon from "@icons/CodeIcon.astro";
import { translateWithI18n } from "@i18n/translateWithI18n";

const { currentLocale = "es" } = Astro;
const I18N = translateWithI18n(currentLocale);
---

<Layout title={I18N.title} description={I18N.description}>
  <main>
    <SectionContainer class="py-44 pb-20">
      <img
        class="rounded-full size-20 mb-4"
        src="https://avatars.githubusercontent.com/u/54405879?v=4"
        alt="santiago photo"
      />

      <h1
        class="text-white text-1xl lg:text-5xl font-bold flex gap-x-4 pb-2 lg:pb-4"
      >
        {I18N.mainTitle}
        <a
          href="https://linkedin.com/in/santiagoae-webdeveloper"
          target="_blank"
          rel="noopener"
          class="flex items-center"
        >
          <Badge>{I18N.mainBadgeTitle}</Badge>
        </a>
      </h1>

      <h2
        class="text-xl lg:text-2xl text-pretty max-w-[700px]"
        set:html={I18N.mainDescription}
      />

      <nav class="flex gap-2 mt-6 flex-wrap">
        <SocialBadge ref="https://linkedin.com/in/santiagoae-webdeveloper">
          <LinkedinIcon class="size-4" />
          Linkedin
        </SocialBadge>

        <SocialBadge ref="https://github.com/santiagoae">
          <GithubIcon class="size-4" />
          Github
        </SocialBadge>

        <SocialBadge ref="mailto:santiagoavn@gmail.com">
          <MailIcon class="size-5" />
          santiagoavn@gmail.com
        </SocialBadge>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <BriefCaseIcon class="size-7" />
        {I18N.experienceTitle}
      </h2>
      <Experience {I18N} />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        {I18N.projectsTitle}
      </h2>
      <Projects {I18N} />
    </SectionContainer>
  </main>
</Layout>
