---
import { TAGS } from "../utils/tags";
import ExperienceItem from "./ExperienceItem.astro";
import type { II18N } from "@interfaces/i18n.interface";

interface Props {
  I18N: II18N;
}

const { I18N } = Astro.props as Props;

const EXPERIENCES = [
  {
    date: `${I18N.experiences.one.date}`,
    title: `${I18N.experiences.one.title}`,
    responsabilities: `${I18N.experiences.one.reponsabilities}`,
    goals: `${I18N.experiences.one.goals}`,
    tags: true,
  },
  {
    date: `${I18N.experiences.two.date}`,
    title: `${I18N.experiences.two.title}`,
    responsabilities: `${I18N.experiences.two.reponsabilities}`,
    goals: `${I18N.experiences.two.goals}`,
    selectedTags: [
      TAGS.angular,
      TAGS.mysql,
      TAGS.typescript,
      TAGS.php,
      TAGS.git,
      TAGS.github,
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} {I18N} />
      </li>
    ))
  }
</ol>
