---
import StackBadge from "./StackBadge.astro";
import { TAGS } from "../utils/tags";
import type { II18N } from "@interfaces/i18n.interface";

interface Props {
  I18N: II18N;
}

const { I18N } = Astro.props;

const PROJECTS = [
  {
    title: `${I18N.projects.one.title}`,
    description: `${I18N.projects.one.description}`,
    link: "#",
    github: "https://github.com/santiagoae/clon-spotify-astro",
    image: "/projects/clon_spoty.webp",
    selectedTags: [TAGS.astro, TAGS.react, TAGS.svelte],
  },
  {
    title: `${I18N.projects.two.title}`,
    description: `${I18N.projects.two.description}`,
    link: "#",
    github: "https://github.com/santiagoae/gpt-free",
    image: "/projects/clon_gpt.webp",
    selectedTags: [TAGS.javascript, TAGS.html, TAGS.css],
  },
];
---

{
  PROJECTS.map(({ title, description, image, selectedTags, github }) => (
    <article class="py-12" id="proyectos">
      <h3 class="text-2xl font-semibold text-sky-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-2 pb-6">
        {selectedTags.map((tag) => (
          <li>
            <StackBadge className={tag.className}>
              {tag.name}
              <tag.icon class="size-4" />
            </StackBadge>
          </li>
        ))}
      </ul>
      <a href={github} target="_blank" rel="noopener noreferrer">
        <img
          class="rounded shadow-2xl shadow-white/10 hover:scale-105 transition"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
      </a>
    </article>
  ))
}
