---
const TAGS = {
  angular: {
    name: "Angular",
    class: "bg-black text-white",
    icon: "",
  },
  laravel: {
    name: "Laravel",
    class: "bg-white text-black",
    icon: "",
  },
};

const PROJECTS = [
  {
    title: "Project 1",
    description:
      "dadassragsadfsKLDFNJIKdfkasbdfhjkiasbdfkljasbdfkjhabsdflkjhabsdfjkhbasdjhkbf",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.angular, TAGS.laravel],
  },
];
---

{
  PROJECTS.map(({ title, description, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-sky-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-2 pb-4">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              tagicon
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
